.main{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 0.1em;

}

.item-row{
  max-width: 100%;
  padding-top: 18%;
}

.chat-row{
  text-align: center;
}

.top-sec{
  align-self: flex-start;
  vertical-align: top;
}

.bottom-sec{
  align-self: flex-end;
  vertical-align: bottom;
}

.answer-sec{
  margin-top: 1.5em;
}

.input-sec textarea{
  min-width: 100%;
  resize: none;
  min-height: 4em;
  outline: 0;
  background-color: transparent;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.button-sec button{
  width: 70%;
  margin-top: 1em;
  text-align: center;
  font-size: 1.5em;
  outline: 0;
}

.button-sec button:focus, .button-sec button:active{
  outline: 0;
}



.answer-sec label{
  width: 100%;
  margin-top: 1em;
  text-align: center;
  font-size: 1.2em;
}

.response{
  font-size: 1em;
  background-color: transparent;
  width: 100%;
  border: none;
  border-top: thin solid #fff;
  resize: none;
  text-align: justify;
  padding-top: 0.5em;
  outline: 0;
  overflow-y: scroll;
  cursor: pointer;
  min-height: 8em;
  padding-right: 1em;
  padding-left: 2em;
}

.response::-webkit-scrollbar {
    display: block;
}

.response::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0);
	border-radius: 10px;
	background-color: #444444;
}

.response::-webkit-scrollbar
{
	width: 12px;
	background-color: #444444;
}

.response::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
	background-color: #555;
}
